/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Estilos del encabezado */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos del botón de selección de imagen */


label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
}

label:hover {
    background-color: #005ea6;
}

/* Estilos de la imagen mostrada */
#imagenMostrada {
    max-width: 100%;
    max-height: 300px;
    display: none;
}