body {
    background: linear-gradient(to bottom, #4c53dc, #90c1da);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

#contenedor{
    width: 40%;
    background-color: #fff0c932;
    color: white ;
}